@{
    ViewData["Title"] = "Iniciar sesión Usuario";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido!</p>
<p>Debes iniciar sesión para obtener beneficios</p>

<form method="get" action="/Home/Register">
<input type="submit" value="Registrar" />

</form>